VITE_APP_BASE_URL=http://localhost:5020/
VITE_APP_BASE_API_URL=http://192.168.13.157:8083/
# VITE_APP_BASE_MAP_URL=http://103.10.168.42:5000/geoserver/
# VITE_APP_WEB_SOCKET_URL=http://192.168.4.87:7000/

# VITE_APP_BASE_URL=http://103.10.168.42:8002/
# VITE_APP_BASE_API_URL=http://103.10.168.42:8000/backend/
# VITE_APP_BASE_MAP_URL=http://103.10.168.42:5000/geoserver/
# VITE_APP_WEB_SOCKET_URL=http://103.10.168.42:7000/

# VITE_APP_BASE_URL=https://gis.forest.kerala.gov.in/
# VITE_APP_BASE_API_URL=https://gis.forest.kerala.gov.in/backend/
# VITE_APP_BASE_MAP_URL=https://gis.forest.kerala.gov.in/geoserver/
# VITE_APP_WEB_SOCKET_URL=https://gis.forest.kerala.gov.in/

# VITE_APP_BASE_URL=http://119.226.201.59/
# VITE_APP_BASE_API_URL=http://119.226.201.59/backend/
# VITE_APP_BASE_MAP_URL=http://119.226.201.59/geoserver/
# VITE_APP_WEB_SOCKET_URL=http://119.226.201.59/

VITE_LOCAL_STORAGE_ENCRYPT_KEY=4rest&6iDs@grMs*



VITE_PAGE_SIZE=10


